html 
  //font-size: 2vmin

table
  margin: auto
  width: 95vw
  border: 2px solid red
  border-collapse: collapse
  color: white
  td, th
    text-align: center
    border: 1px solid black
    background: grey
    a
      color: darkblue
  td:nth-child(2)
    height: 20vmin
  td:nth-child(3)
    font-size: 1.5em
  th
    &:hover
      cursor: pointer
    height: 5vh
    color: darkblue
    background: rgb(200,200,200)

.Header
  text-align: center
  color: red
  font-size: 10vmin

.SearchForm
  display: flex
  justify-content: space-around
  align-items: center
  width: 95vw
  height: 10vh
  margin: auto
  color: white
  font-weight: bold
  background: rgb(50,50,50)

label
  padding-right: 1rem

.pagContainer
  display: flex
  justify-content: space-around
  padding-top: 2vh
  padding-bottom: 2vh
  .Pagination
  .activePagination
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    width: 2.5rem
    height: 2.5rem
    color: white
    font-weight: bold
    //font-size: 2rem
    //border: 2px solid green
    border-radius: 0.5rem
    border: 2px solid grey
    background: grey
  .activePagination
    color: black
    background: white
  .Pagination:hover
  .activePagination:hover
    border: 2px solid red
    background: rgb(176,196,222)

img
  display: block
  //width: 100%
  height: 100%
  margin: auto
.Invisible
  display: none

.loader
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  display: flex
  justify-content: space-around
  align-items: center
  font-size: 7vh
  font-weight: bold
  color: green
  background: black
  .loading1
    width: 5vh
    height: 5vh
    background: green
    border-radius: 100%
    animation: dots 1s infinite 
    animation-timing-function: linear
  .loading2
    width: 5vh
    height: 5vh
    background: green
    border-radius: 100%
    animation: dots 1s infinite 
    animation-delay 0.2s
    animation-timing-function: linear
  .loading3 
    width: 5vh
    height: 5vh
    background: green
    border-radius: 100%
    animation: dots 1s infinite 
    animation-delay 0.4s
    animation-timing-function: linear

@keyframes dots
  0% 
    transform scale(1)
  50% 
    transform scale(0)
  100% 
    transform scale(1)
