body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
table {
  margin: auto;
  width: 95vw;
  border: 2px solid #008000;
  border-collapse: collapse;
  color: #fff;
  margin-bottom: 2vh;
}
table td,
table th {
  text-align: center;
  border: 1px solid #000;
  background: #808080;
}
table td a,
table th a {
  color: #00008b;
}
table td:nth-child(2) {
  height: 15vmin;
  width: 15vmin;
}
table td:nth-child(3) {
  font-size: 1.5em;
}
table th {
  height: 5vh;
  color: #00008b;
  background: #c8c8c8;
}
table th:hover {
  cursor: pointer;
}
.Header {
  text-align: center;
  color: #f00;
  font-size: 10vmin;
}
.SearchForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  height: 10vh;
  margin: auto;
  color: #fff;
  font-weight: bold;
  background: #323232;
}
label {
  padding-right: 1rem;
}
.pagContainer {
  display: flex;
  justify-content: space-around;
}
.pagContainer .Pagination,
.pagContainer .activePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 2px solid #808080;
  background: #808080;
}
.pagContainer .activePagination {
  color: #000;
  background: #fff;
}
.pagContainer .Pagination:hover,
.pagContainer .activePagination:hover {
  border: 2px solid #f00;
  background: #b0c4de;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.Invisible {
  display: none;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 7vh;
  font-weight: bold;
  color: #008000;
  background: #000;
}
.loader .loading1 {
  width: 5vh;
  height: 5vh;
  background: #008000;
  border-radius: 100%;
  animation: dots 1s infinite;
  animation-timing-function: linear;
}
.loader .loading2 {
  width: 5vh;
  height: 5vh;
  background: #008000;
  border-radius: 100%;
  animation: dots 1s infinite;
  animation-delay: 0.2s;
  animation-timing-function: linear;
}
.loader .loading3 {
  width: 5vh;
  height: 5vh;
  background: #008000;
  border-radius: 100%;
  animation: dots 1s infinite;
  animation-delay: 0.4s;
  animation-timing-function: linear;
}
@-moz-keyframes dots {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes dots {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes dots {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dots {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
